<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TrainingSession</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   </head>
<body>
	<div  class="container">
		<div align="center" class="form-style-8">
			<br></br>
			<h1><u>" Microservice App "</u></h1></br>
		</div>
	    <div class="form-style-2" align="center">
	     	<h3> Application to perform some mathematical operation</h3>
	     	<p> This operations are as mentioned and it take user input.</p>
	     	<p> I. Addition </p>
	     	<p>II. Substraction </p>
	     	<p>III. Multiplication </p>
	     	<p>IV. Division </p>
	  	</div><br></br>
   		<div class="form-style-6" align="right">
	 		<h3><a th:href="@{/gateway/action}">home</a></h3>
	 	</div>	
  </body>
</html>